/* tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* 폰트모음 */

@font-face {
    font-family: "GongGothicMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "D2Coding";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* common */
body {
    padding: 0;
    font-family: "GongGothicMedium";
}

/* 
헤더 nav transform 
*/
.bars-wrap {
    position: relative;
}

#menu {
  z-index: 2;
  right: 5px;
  position: absolute;
}

#menu-bar {
  width: 35px;
  height: 40px;
  margin: 30px 0 70px 20px;
  cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #000;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
  margin-top: 65px;
  transition: 0.3s ease;
  display: none;
  width: 10rem;
}

.nav ul {
    padding: 0 10px 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
    text-align: right;
}

.nav li a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg {
  top: -25px;
  right: 0;
  position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 30px 20px 20px;
    background: radial-gradient(circle, #BF1131, #BF1131);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 470px;
    transform: translate(60%, -30%);
}

/*
 * search btn
 */
.glow {
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    border-radius: 100%;
}

.glow-1 {
    animation: glow1 4s linear infinite;
}

.glow-2 {
    animation: glow2 4s linear infinite;
    animation-delay: 100ms;
}

.glow-3 {
    animation: glow3 4s linear infinite;
    animation-delay: 200ms;
}

.glow-4 {
    animation: glow4 4s linear infinite;
    animation-delay: 300ms;
}

@keyframes glow1 {
    0% {
        transform: translate(10%, 10%) scale(1);
    }

    25% {
        transform: translate(-10%, 10%) scale(1);
    }

    50% {
        transform: translate(-10%, -10%) scale(1);
    }

    75% {
        transform: translate(10%, -10%) scale(1);
    }

    100% {
        transform: translate(10%, 10%) scale(1);
    }
}

@keyframes glow2 {
    0% {
        transform: translate(-10%, -10%) scale(1);
    }

    25% {
        transform: translate(10%, -10%) scale(1);
    }

    50% {
        transform: translate(10%, 10%) scale(1);
    }

    75% {
        transform: translate(-10%, 10%) scale(1);
    }

    100% {
        transform: translate(-10%, -10%) scale(1);
    }
}

@keyframes glow3 {
    0% {
        transform: translate(-10%, 10%) scale(1);
    }

    25% {
        transform: translate(-10%, -10%) scale(1);
    }

    50% {
        transform: translate(10%, -10%) scale(1);
    }

    75% {
        transform: translate(10%, 10%) scale(1);
    }

    100% {
        transform: translate(-10%, 10%) scale(1);
    }
}

@keyframes glow4 {
    0% {
        transform: translate(10%, -10%) scale(1);
    }

    25% {
        transform: translate(10%, 10%) scale(1);
    }

    50% {
        transform: translate(-10%, 10%) scale(1);
    }

    75% {
        transform: translate(-10%, -10%) scale(1);
    }

    100% {
        transform: translate(10%, -10%) scale(1);
    }
}

.bold {
    font-weight: 700;
}